<h1>{{ quiz.name }}</h1>


{% for item in sorted_scores_limit.items %}
    {% for score in norm_scores.items %}
        {% if item.0 == score.0 %}
        {% for category,feedback in feed_dict.items %}
            {% if forloop.counter == forloop.parentloop.counter %}
            <h2>{{ category }}: {{ score.1 }}</h2>
            <ul>
            {% for questiontext, feedbacktext in feedback.items %}
                {% if feedbacktext == None %}
                {% else %}
                <h3>{{questiontext}}</h3>
                <ul>
                <li>{{feedbacktext}}</li>
                </ul>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<form action="{% url 'quizzes:get_feedback_pdf' user_id %}" method="post">
    {% csrf_token %}
    <button type="submit">Get Complete Feedback Report</button>
</form>

<a href="{% url 'quizzes:index' %}">Back to Quiz Index</a>

</html>