<h1>{{ quiz.name }}</h1>

{% for item in sorted_scores_limit.items %}
    {% for score in norm_scores.items %}
        {% if item.1 == score.1 %}
        {% for category,feedback in feed_dict.items %}
            {% if forloop.counter == forloop.parentloop.counter %}
            <h2>{{ category }}: {{ score.1 }}</h2>
            <ul>
            {% for questiontext, feedbacktext in feedback.items %}
            <h3>{{questiontext}}</h3>
            <li>{{feedbacktext}}</li>
            {% endfor %}
            </ul>
            {% endif %}
        {% endfor %}
        {% endif %}
    {% endfor %}
{% endfor %}

<a href="{% url 'quizzes:index' %}">Back to Quiz Index</a>