<!DOCTYPE html>
<html lang="en">
<H3>Upload CSV</H3>
{% if messages %}
    <div>
        <strong>{{messages}}</strong>
    </div>
{% else %}
<div>
    <p>{{success}}</p>
    <p><strong>CSV Formatting:</strong></p>
    <ul>
        <p>{{headerorder}}</p>
        <p>{{order}}</p>
        <p><strong>Note: </strong> {{feedbacknote}}</p>
    </ul>
</div>
<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label>Upload a file</label>
        <input type="file" name="file">
        <p>Only accepts CSV files</p>
        <button type="submit">Upload</button>
    </form>
</div>
{% endif %}

</html>