<!DOCTYPE html>
<html lang="en">

<div class="container">
    <div class="card">
        <div class="card-header">
            <h1>{{ quiz.name }}: {{ quiz.description }}</h1>
        </div>
    </div>
</div>

<div>
<u1>
    {% for category in quiz.category_set.all %}
        <div>
            <strong><ul>{{ category.category_name }}</ul></strong>
        </div>
        {% for question in category.question_set.all %}
        <div>
            <ul><ul><li>{{question.question_text}}</li></ul></ul>
        </div>
        {% endfor %}
    {% endfor %}
</u1>
</div>

</html>